{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}
{% block header %}Panel de Administración{% endblock %}

{% block content %}


<div class="container my-5">
  <h2 class="mb-4 text-center">Panel de Administración</h2>

  <div class="row g-4 text-center">
    <div class="col-md-4">
      <div class="card shadow-sm border-0">
        <div class="card-body">
          <h5 class="card-title text-primary">Votantes</h5>
          <p class="display-6">{{ total_votantes }}</p>
          <a href="#" class="btn btn-outline-primary btn-sm">Ver detalle</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm border-0">
        <div class="card-body">
          <h5 class="card-title text-success">Elecciones</h5>
          <p class="display-6">{{ total_elecciones }}</p>
          <a href="#" class="btn btn-outline-success btn-sm">Ver detalle</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm border-0">
        <div class="card-body">
          <h5 class="card-title text-warning">Candidatos</h5>
          <p class="display-6">{{ total_candidatos }}</p>
          <a href="{% url 'lista_candidatos' %}" class="btn btn-outline-warning btn-sm">Ver detalle</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow-sm border-0">
        <div class="card-body">
          <h5 class="card-title text-info">Votos Emitidos</h5>
          <p class="display-6">{{ total_votos }}</p>
          <a href="#" class="btn btn-outline-info btn-sm">Ver detalle</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow-sm border-0">
        <div class="card-body">
          <h5 class="card-title text-danger">Sesiones Activas</h5>
          <p class="display-6">{{ sesiones_activas }}</p>
          <a href="#" class="btn btn-outline-danger btn-sm">Ver detalle</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
  <div class="card shadow-sm border-0">
    <div class="card-body">
      <h5 class="card-title text-dark">Usuarios del Sistema</h5>
      <p class="display-6">👤</p>
      <a href="{% url 'lista_usuarios' %}" class="btn btn-outline-dark btn-sm">Ver usuarios</a>
    </div>
  </div>
</div>


<footer class="text-center mt-5 text-muted">
  <p>&copy; 2025 Sistema de Votación Automatizada</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

{% endblock %}